<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="/css/styles.css" rel="stylesheet">
        <script src="/js/projects.js"></script>
        <script src="/js/colourmode.js"></script>
        <style>
            body { /* Adapted from https://stackoverflow.com/questions/17054158/css-100-height-with-header-and-footer */
                display: flex;
                flex-direction: column;
                min-height: 100dvh;
            }
        </style>

        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="base">
            <a>
                <img src="" alt="Colour preference button" id="colour-mode" style="filter: invert(100%); margin: 10px; display: inline-flex;">
            </a>
            <div style="margin-left: auto;">
                <nav id="home-nav" style="display: flex;">
                    <a style="left: 16.5%;" id="home" href="/?view=home">Home</a>
                    <a style="left: 11%;" id="projects" href="/?view=projects">Projects</a>
                    <a style="left: 5.5%;" id="blog" href="/?view=blog">Blog</a>
                    <a id="games" href="https://games.isaacrutter.dev/">Games</a>
                </nav>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="centered">
                <a href="mailto:me@isaacrutter.dev" class="icon">
                    <img src="/img/mail.svg" alt="Email icon">
                </a>
                <a href="https://github.com/saacutter" class="icon">
                    <img src="/img/github-white.svg" alt="GitHub icon">
                </a>
                <a href="https://www.linkedin.com/in/isaac-rutter/" class="icon">
                    <img src="/img/linkedin-white.png" alt="LinkedIn icon">
                </a>
            </div>
            <p class="centered" style="color: white;">© {{ datetime.date.today().year }} Isaac Rutter</p>
        </footer>
    </body>
</html>