{% extends "base.html" %}

{% block title %}saacutter.github.io{% endblock %}

{% block body %}
<div class="container" style="align-self: center;">
    <img src="/img/mii.png" alt="An image of my Mii" id="mii">
    <p class="centered">This is some text.</p>
</div>
<div class="container">
    <ul id="projects-list" style="padding-left: 0;">
        <li>
            <h2>Mini-Language Transpiler</h2>
            <div>
                <p>This was the first project developed for CITS2002 (Systems Programming) in semester 2 2024. The goal of the project was to implement a C11 program which compiled and executed the code of a non-existent mini programming language.</p>
                <div class="buttons">
                    <a href="https://github.com/saacutter/minilang-transpiler"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Virtual Memory Simulation</h2>
            <div>
                <p>This was the second project developed for CITS2002 (Systems Programming) in semester 2 2024. The goal of this project was to simulate a virtual memory system using an array as the RAM of some universal Turing machine.</p>
                <div class="buttons">
                    <a href=""><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Tournament Manager</h2>
            <div>
                <p>This was the project developed for CITS3403 (Agile Web Development) in semester 1 2025. This is a web application using the Flask framework that allows users to upload data from their played tournaments and share that with friends.</p>
                <div class="buttons">
                    <a href="https://github.com/saacutter/tournament-manager"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Australian Employment Trends</h2>
            <div>
                <p>This was the project developed for CITS2402 (Introduction to Data Science) in semester 2 2025. It compares the employment trends in Australia using Census data from the ABS from 2016 and 2021.</p>
                <div class="buttons">
                    <a href="https://github.com/saacutter/census-employment-trends"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>The Diplomacy Agent</h2>
            <div>
                <p>This was the project developed for CITS3011 (Intelligent Agents) in semester 2 2025. This is an agent that can play the popular strategy board game The Diplomacy.</p>
                <div class="buttons">
                    <a href="https://github.com/saacutter/diplomacy-agent"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Calculator</h2>
            <div>
                <p>This is a basic calculator which I developed to learn HTML, CSS, and JavaScript.</p>
                <div class="buttons">
                    <a href="https://projects.isaacrutter.dev/calculator/"><button>Project Demo</button></a>
                    <a href="https://github.com/saacutter/Calculator"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Grade Calculator</h2>
            <div>
                <p>This is a caluclator that can be used to calculate grades of courses, including the final grade required in order to achieve a certain final grade.</p>
                <div class="buttons">
                    <a href="https://projects.isaacrutter.dev/grades/"><button>Project Demo</button></a>
                    <a href="https://github.com/saacutter/Grade-Calculator"><button>Source Code</button></a>
                </div>
            </div>
        </li>
        <li>
            <h2>Password Manager</h2>
            <div>
                <p>This is an application designed to manage passwords. As the code is open source, it is not recommended to use it to store actual passwords. It is, however, a tool that can be played around with, and was designed purely as an experimental project.</p>
                <div class="buttons">
                    <a href="/Projects/PasswordManager/password.html"><button>Project Demo</button></a>
                    <a href="https://github.com/saacutter/Password-Manager"><button>Source Code</button></a>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    {% for year, months in posts.items() | sort(attribute='0', reverse=True) %}
        <div style="margin-bottom: 5em;">
            <h1>{{ year }}</h1>
            {% for month, blog in months.items() | sort(attribute='0', reverse=True) %}
                <div style="margin-left: 2em;">
                    <h3>{{ datetime.datetime.strptime(month, '%m').strftime('%B') }}</h3>
                    {% for post in blog %}
                        <a href="/{{ '%02d' | format(post.created.year) }}/{{ '%02d' | format(post.created.month) }}/{{ '%02d' | format(post.created.day) }}/{{ post.slug }}/" class="post-entry">
                            {{ post.title }} <span>({% if "modified" in post %}{{ post.modified.strftime('%d-%m') }}{% else %}{{ post.created.strftime('%d-%m') }}{% endif %})</span>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}